@import "./styles/material-stack-core.css";
@import "./styles/material-stack-titlebar.css";
@import "./styles/material-stack-controls.css";
@import "./styles/material-stack-sidebar.css";
@import "./styles/material-stack-chat.css";
@import "./styles/material-stack-composer.css";
@import "./styles/material-stack-modal.css";

.app-shell {
  grid-template-columns: 320px 1fr;
}
